
*.pdf

# tmp files #
*~
*.bak

# IDE #
*.iml
.idea

# Bytecode #
*.class
*.pyc

# Package Files #
*.jar
*.war
*.ear


.svn
.idea


# kile files
#*.kilepr
*.backup


### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.spl
*-blx.bib
*.bcf
*.run.xml


